.map {
    height: 50%;
}

.width_45 {
    width: 45%
}

.width_100 {
    width: 100%;
}

.fare {
    color: midnightblue;
    font-weight: bolder;
    font-size: x-large;
}

.fareDetails {
    text-align: center;
}

.addMoney {
    background:#1d8c9e;
}