<ion-header>
  <ion-toolbar>
      <ion-toolbar>
          <ion-icon slot="start" name="arrow-round-back" (click)="onClickCancel()"></ion-icon>
          <ion-title>Start Duty</ion-title>
        </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>On Duty</ion-label>
        <ion-toggle [(ngModel)]="isToggled" (ionChange)="getDriverLocation()"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="isToggled" >
      <ion-label>{{currentOrHotSpotLocation}}: </ion-label>
      <ion-input type="text" [(ngModel)]="sourceLocation.name" name="name" readonly></ion-input></ion-item>
      <div #DriverMap class="map"></div>

      <ion-button *ngIf="isToggled" id="reachedHotSpot" (click)="reachedHotSpot()">Reached HotSpot</ion-button>
      <ion-list-header *ngIf="reachedHSLoc" >Passangers in the trip</ion-list-header>
      <ion-list *ngFor="let passanger of listOfPassangers">
            <ion-item>{{ passanger.name }}</ion-item>
            <ion-button id="endRide" (click)="endRide(passanger.id)">End Ride</ion-button>
        </ion-list>
        <ion-button *ngIf="isToggled && reachedHSLoc" id="startTrip" (click)="startTrip()">Start Trip</ion-button>
</ion-content>



