<ion-header>
  <ion-toolbar>
      <ion-toolbar>
          <ion-icon slot="start" name="arrow-round-back" (click)="onClickCancel()"></ion-icon>
          <ion-title>Start Duty</ion-title>
        </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label class="bold">On Duty</ion-label>
        <ion-toggle [(ngModel)]="isToggled" (ionChange)="getDriverLocation()"></ion-toggle>
      </ion-item>

      <ion-item>
      <ion-label class="bold">{{currentOrHotSpotLocation}}: </ion-label>
      <ion-input type="text" [(ngModel)]="sourceLocation.name" name="name" readonly></ion-input></ion-item>
      <div #DriverMap class="map"></div>

      <ion-button class="width_100" color="success" *ngIf="isToggled && !reachedHSLoc" id="reachedHotSpot" (click)="reachedHotSpot()">Reached {{hotSpotName}}</ion-button>
      <ion-button class="width_100" *ngIf="isToggled && reachedHSLoc" id="startTrip" (click)="startTrip()">Start Trip</ion-button>

      <ion-list-header *ngIf="enoughPassenger" class="bold">Passangers - Drop Location</ion-list-header>
      <ion-list *ngFor="let passenger of listOfPassengers">
            <ion-item>{{ passenger.passengerName }} - {{passenger.toHotspotName}}</ion-item>
            <ion-button id="endRide" (click)="endRide(passenger)">End Ride</ion-button>
        </ion-list>
        
</ion-content>



