<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/AutoFly.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Go people with AutoFly</ion-card-subtitle>
        <ion-card-title>AutoFly</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ride with AutoFly the easy, convenient and affordable way to reach your destination.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Login</ion-label>
      </ion-list-header>
      <ion-item href="/passenger">
        <ion-icon slot="start" color="medium" name="person"></ion-icon>
        <ion-label>Passenger Login</ion-label>
      </ion-item>
      <ion-item href="/driver">
        <ion-icon slot="start" color="medium" name="speedometer"></ion-icon>
        <ion-label>Driver Login</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
